The notebook illustrates pyspark examples for creating Spark Dataframe from 

* Text files
* Postgres DB
* In Memory data
* RDD

DataFrames	are	the	main	abstraction	in	Spark	SQL

* Analogous	to	RDDs	in	core	Spark
* A	distributed	collection	of	structured	data	organized	into	named	columns
* Built	on	a	base	RDD	containing	Row objects

In [1]:
import os
import sys
os.environ["SPARK_HOME"] = "/home/rahul/spark_raw/spark-2.1.0-bin-hadoop2.7/"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.8.2.1-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

In [2]:
pyspark_submit_args = os.environ.get("PYSPARK_SUBMIT_ARGS", "")
if not "pyspark-shell" in pyspark_submit_args: pyspark_submit_args += " pyspark-shell"
os.environ["PYSPARK_SUBMIT_ARGS"] = pyspark_submit_args

In [9]:
from pyspark import SparkContext, SparkConf, SQLContext
import pandas as pd
from odo import odo

In [4]:
sc=SparkContext(appName="TestApp")

In [5]:
print 'Application Id : ' + str(sc.applicationId)
print 'Application Name : ' + str(sc.appName)

Application Id : local-1492364115636
Application Name : TestApp

### Create an Spark SQL Dataframe from Pandas Dataframe

In [6]:
df = pd.DataFrame()
df['Index'] = [1,2,3,4,5,6,7,8,9,10]
df['Name'] = ['A','B','C','D','E','F','G','H','I','J']
df

   Index Name
0      1    A
1      2    B
2      3    C
3      4    D
4      5    E
5      6    F
6      7    G
7      8    H
8      9    I
9     10    J

In [7]:
sqlContext = SQLContext(sc)
SparkDataframeFromPandas = sqlContext.createDataFrame(df)
SparkDataframeFromPandas.show()

+-----+----+
|Index|Name|
+-----+----+
|    1|   A|
|    2|   B|
|    3|   C|
|    4|   D|
|    5|   E|
|    6|   F|
|    7|   G|
|    8|   H|
|    9|   I|
|   10|   J|
+-----+----+